*{
    box-sizing: border-box;
    padding: 0;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

#Logo{
    background-color: lightgreen;
    height: 80px;
}

#Container{
    width: 900px;
    margin: auto;
}

nav{
    background-color: lightsalmon;
    height: 50px;
    margin-bottom: 20px;
}

.block_top{
    background-color: black;
    width: 100%;
    height: 300px;
    margin-bottom: 100px;

    border-radius: 5px;
}

.sidebar_left, .sidebar_right{
    width: 20%;
    height: 400px;
    float: left;
    background-color: aquamarine;

    border-radius: 5px;
}

.sidebar_left{
    margin-right: 5%;
}

.sidebar_right{
    margin-left: 5%;  
}

.content{
    width: 50%;
    height: 400px;
    float: left;
    background-color: purple;

    border-radius: 5px;
}